<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Show CSV</title>
  <style>
    .buttons
    {
      text-align: center;
      margin: auto;
    }
    .banner
    {
    background: #17ae90;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
  }

  </style>
</head>
<body>
  <div class="banner">
    <div>
      <h1>Email List</h1>
      <h5>CSV uploaded sucessfully</h5>
      </div>
      </div>
  <div class = buttons>
    <a href="http://127.0.0.1:5000/valid">
    <input type="button" value="Valid" style='margin-right:26px'/>
    </a>
    <a href="http://127.0.0.1:5000/invalid">
      <input type="button" value="InValid" style='margin-right:16px'/>
    </a>
  </div>
 </a>
</form>
</body>
</html>