<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Upload CSV</title>
  <style>
  .banner{
    background: #17ae90;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
  }
  
  .upload {
    text-align: center;
    margin: auto;
  }
  </style>
</head>
<body>
  <div class="banner">
    <div>
      <h1>Mass Mail Dispatcher</h1>
      <h5>Upload a CSV file</h5>
      <div class = "upload">
        <form action="" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="file">
        <input type="submit" value="Upload" name="submit">
    </div>
    </div>  
  </div>
  

</body>
</html>

